## Question 1. 
    Consider the following Python module:
    a = 0
    def b():
     global a
     a = c(a)
    def c(a):
     return a + 2
    After importing the module into the interpreter, you execute:
    b()
    b()
    b()
    a
    ?
    What value is displayed when the last expression (a) is evaluated? Explain your
    answer by indicating what happens in every executed statement.


Answer: 
When the last expression (a) is evaluated the result will be 6, because funciton b() is defined as calling the global variable 'a' and performing function c() on 'a' everytime it is called. Function c(a) returns global variable 'a' + 2. When the funcotin b() is called for the first time, 'a' value is 0, and since c(a) is called inside b() at the end 'a' value is 2, and after calling b()  2 more times, each time 'a' value gets increamented by 2 with a result of 6 at the end of 3 function b() calls.

## Question 2. 
    
    Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

    fileLength('midterm.py')
    284
    fileLength('idterm.py')
    Traceback (most recent call last):
    File "<pyshell#34>", line 1, in <module>
     fileLength('idterm.py')
    File "/Users/me/midterm.py", line 3, in fileLength
     infile = open(filename)
    FileNotFoundError: [Errno 2] No such file or directory:
    'idterm.py'
    As shown above, if the file cannot be found by the interpreter or if it cannot be read
    as a text file, an exception will be raised. Modify function fileLength() so that a
    friendly message is printed instead:
    fileLength('midterm.py')
    358
    fileLength('idterm.py')
    File idterm.py not found.

In [1]:
def file_length(file_name):
    
    '''
    Function that returns the total length of  file by taking the filename as argument
    
    '''
    # Writing a try catch block to catch the FIleNotFound exception and print a custom statement
    
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except FileNotFoundError:
        print('File '+file_name+' not found')
        
    # List all other types of exceptions here    
    except:
        print("Some other Exception")

In [2]:
file_length('abc.py')

File abc.py not found

## Question 3.
    Write a class named Marsupial that can be used as shown below:
    >>> m = Marsupial()
    >>> m.put_in_pouch('doll')
    >>> m.put_in_pouch('firetruck')
    >>> m.put_in_pouch('kitten')
    >>> m.pouch_contents()
    ['doll', 'firetruck', 'kitten']

    Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
    attributes of Marsupial and also:
    a. extends the Marsupial __init__ constructor to take, as input, the
    coordinates x and y of the Kangaroo object,
    b. supports method jump that takes number values dx and dy as input and
    moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
    c. overloads the __str__ operator so it behaves as shown below.
    >>> k = Kangaroo(0,0)
    >>> print(k)
    I am a Kangaroo located at coordinates (0,0)
    >>> k.put_in_pouch('doll')
    >>> k.put_in_pouch('firetruck')
    >>> k.put_in_pouch('kitten')
    >>> k.pouch_contents()
    ['doll', 'firetruck', 'kitten']
    >>> k.jump(1,0)
    >>> k.jump(1,0)
    >>> k.jump(1,0)
    >>> print(k)
    I am a Kangaroo located at coordinates (3,0)

In [3]:
class Marsupial: 
    
    '''
    This class is called Marsupial and has 2 class functions in it.
    
    '''
    # Writing a default constructor with an empty list
    def __init__(self): 
        self.data = [] 

    def put_in_pouch(self,thing):
        
        '''
        This function takes an input and upates it to the list
        
        '''
        self.data.append(thing) 

    def pouch_contents(self):
        
        '''
        This function shows the contents of the list
        
        '''
        return self.data

In [4]:
# Creating an object m for class Marsupial
m = Marsupial()

# Calling the fuction put_in_pouch to add items
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

# Calling function pouch_contents to show the contents of the list
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [5]:
class Kangaroo(Marsupial):
    
    '''
    The class Kangaroo inherits class Marsupial
    
    '''
    # Writing a constructor for the class with 2 arguments x and y for position
    def __init__(self,x,y):
        self.x = x
        self.y = y
        Marsupial.__init__(self) #inheriting Marsupial class's constructor

    def __str__(self):
        
        '''
        This function overloads __str__ function to show the coordinates of Kangaroo class
        
        '''
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

    def jump(self, dx,dy):
        
        '''
        This function shifts the coordinates of the Kangaroo class by the amounts specified in the argument
        
        '''
        self.x += dx
        self.y += dy

In [6]:
# Creating object 'k' for the class Kangaroo and initialising it with coordinates (0,0)
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [7]:
# Adding items to kangaroo class using function inherited from Marsupial class
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

# Showing the contents of Kangaroo class using function inherited from Marsupial
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
# Calling the jump function of Kangaroo class to shift the coordinates of the object
k.jump(1,0)
k.jump(1,2)
k.jump(3,7)
print(k)

I am a Kangaroo located at coordinates (5,9)

## Question 4.
Implement a new GUI class App that combines user-defined tkinter widget classes
Calculator and Mortgage displayed below: (This question can be done using a
.py file)

## Question 5.
    Write function collatz() that takes a positive integer x as input and prints the
    Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
    this rule to the previous number x in the sequence:
    x = {
    洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n    3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬d
    Your function should stop when the sequence gets to number 1. Your
    implementation must be recursive, without any loops.
    >>> collatz(1)
    1
    >>> collatz(10)
    10
    5
    16
    8
    4
    2
    1

In [9]:
def collatz(n):
    
    '''
    This function takes a positive integer abd prints the collatz sequence until it reaches 1
    
    '''
    # using Recursive function to develop the logic of a collatz sequence
    
    if n == 1:
        print (n)
    else:
        if (n%2==0):
            print (n)
            n = n/2
        else:
            print (n)
            n = (3*n) + 1
            
        collatz(n)

In [10]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

## Question 6.
    Write a recursive method binary() that takes a non-negative
    integer n and prints the binary representation of integer n.
    >>> binary(0)
    0
    >>> binary(1)
    1
    >>> binary(3)
    11
    >>> binary(9)
    1001

In [11]:
def binary(n):
    
    '''
    Function to print binary number equivalent of a positive decimal input
   
    '''
    # Using recursive function for binary conversion
    if n > 1:
        binary(n//2)
    print(n % 2,end = '')

In [12]:
binary(32)

100000

In [13]:
from html.parser import HTMLParser
from urllib.parse import urljoin
from urllib.request import urlopen

## Question 7.
    Implement a class named HeadingParser that can be used to parse an HTML
    document, and retrieve and print all the headings in the document. You should
    implement your class as a subclass of HTMLParser, defined in Standard Library
    module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
    document. Each heading should be indented as follows: an h1 heading should have
    indentation 0, and h2 heading should have indentation 1, etc. Test your
    implementation using w3c.html.
    >>> infile = open('w3c.html')
    >>> content = infile.read()
    >>> infile.close()
    >>> hp = HeadingParser()
    >>> hp.feed(content)
    W3C Mission
    Principles

In [14]:
class HeadingParser(HTMLParser):
    
    '''
    This class is created to parse through an HTML document and print the hedings
    
    '''
    # Writing Constructor function
    def __init__(self):
        HTMLParser.__init__(self)
        self.tag = ''
        
    def handle_starttag(self, tag, attrs):
        
        '''
        This function is to catch the starting tag of a HTML program
        
        '''
        self.tag = tag
        
    def handle_data(self, data):
        if self.tag == 'h1':
            print(data, end='')
        elif self.tag == 'h2':
            print (' '+data, end='')
        elif self.tag == 'h3':
            print ('  '+data, end ='')
        elif self.tag =='h4':
            print ('   '+data, end ='')
        elif self.tag == 'h5':
            print ('    '+data, end = '')
        elif self.tag == 'h6':
            print ('     '+data, end = '')

In [15]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

  HTML and CSS
            XML
              JavaScript
            Programming
            Server Side
            Web Building
            XML
            HTML
            CSS
            JavaScript
            Programming
            Server Side
            XML
            Character Sets
            Exercises
            Quizzes
           LOG IN
        HTML Easy Learning with HTML "Try it Yourself"
  Example
 HTML Examples
 HTML Exercises
 Test Yourself With Exercises
 Exercise:
 HTML Quiz Test
 HTML References
 HTML Exam - Get Your Diploma!
 W3Schools' Online Certification
   SHARE
 Report Error

 Thank You For Helping Us!
   Top Tutorials
   Top References
   Top Examples
   Web Certificates

## Question 8.
    Implement recursive function webdir() that takes as input: a URL (as a string) and
    non-negative integers depth and indent. Your function should visit every web
    page reachable from the starting URL web page in depth clicks or less, and print
    each web page's URL. As shown below, indentation, specified by indent, should
    be used to indicate the depth of a URL.
    >>>
    webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
    , 2, 0)
    http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
     http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
     http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
     http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
     http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [16]:
class Collector(HTMLParser):
    
    def __init__(self,url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_startag(self,tag,attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url,attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
    def getLinks(self):
        return self.links

In [17]:
def analyze(url):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    return collector.getLinks()

In [18]:
visited = set()
def webdir(url,depth,indent):
    global visited
    if depth == 0:
        return
    print(' '*indent,url)
    indent += 1
    depth -= 1
    visited.add(url)
    links = analyze(url)
    for link in links:
        if link not in visited:
            try:
                webdir(link,depth,indent)
            except:
                pass

In [19]:
webdir("http://reed.cs.depaul.edu/lperkovic/",3,0)

 http://reed.cs.depaul.edu/lperkovic/

## Question 9.
    Write SQL queries on the below database table that return:
    a) All the temperature data.
    b) All the cities, but without repetition
    c) All the records for India.
    d) All the Fall records.
    e) The city, country, and season for which the average rainfall is between 200
    and 400 millimeters.
    f) The city and country for which the average Fall temperature is above 20
    degrees, in increasing temperature order.
    g) The total annual rainfall for Cairo.
    h) The total rainfall for each season.

In [20]:
## Loading the SQL Module in Jupyetr Notebook
%load_ext sql

In [21]:
## Connecting to SQL Lite 
%sql sqlite://

In [23]:

%%sql
CREATE TABLE RainfallSummary (City varchar(50), Country varchar(50), Season varchar(50), Temperature float, Rainfall float)

 * sqlite://
Done.

[]

In [24]:

%%sql
INSERT INTO RainfallSummary VALUES ('Mumbai','India','Winter',24.8,5.9);
INSERT INTO RainfallSummary VALUES ('Mumbai','India','Spring',28.4,16.2);
INSERT INTO RainfallSummary VALUES ('Mumbai','India','Summer',27.9,1549.4);
INSERT INTO RainfallSummary VALUES ('Mumbai','India','Fall',27.6,346.0);
INSERT INTO RainfallSummary VALUES ('London','United Kingdom','Winter',4.2,207.7);
INSERT INTO RainfallSummary VALUES ('London','United Kingdom','Spring',8.3,169.6);
INSERT INTO RainfallSummary VALUES ('London','United Kingdom','Summer',15.7,157.0);
INSERT INTO RainfallSummary VALUES ('London','United Kingdom','Fall',10.4,218.5);
INSERT INTO RainfallSummary VALUES ('Cairo','Egypt','Winter',13.6,16.5);
INSERT INTO RainfallSummary VALUES ('Cairo','Egypt','Spring',20.7,6.5);
INSERT INTO RainfallSummary VALUES ('Cairo','Egypt','Summer',27.7,0.1);
INSERT INTO RainfallSummary VALUES ('Cairo','Egypt','Fall',22.2,4.5);

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [25]:

%%sql
SELECT * FROM RainfallSummary

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [26]:

%%sql
SELECT Temperature FROM RainfallSummary

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [27]:

%%sql
SELECT DISTINCT City FROM RainfallSummary

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [28]:

%%sql
SELECT * FROM RainfallSummary WHERE Country = 'India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [29]:

%%sql
SELECT * FROM RainfallSummary WHERE Season = 'Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [30]:

%%sql
SELECT * FROM RainfallSummary WHERE Rainfall >= 200 AND Rainfall <= 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5)]

In [31]:

%%sql
SELECT City, Country FROM RainfallSummary WHERE Temperature > 20.0 ORDER BY Temperature ASC

 * sqlite://
Done.

[('Cairo', 'Egypt'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

In [32]:

%%sql
SELECT SUM(Rainfall) FROM RainfallSummary Where City = 'Cairo'

 * sqlite://
Done.

[(27.6,)]

In [33]:

%%sql
SELECt SUM(Rainfall) FROM RainfallSummary GROUP BY Season

 * sqlite://
Done.

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

## Question 10.
    Suppose list words is defined as follows:
    >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
    'the', 'lazy', 'dog']
    Write list comprehension expressions that use list words and generate the following
    lists:
    a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
    'LAZY', 'DOG']
    b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
    'lazy', 'dog']
    c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
    words).
    d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
    'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
    ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
    4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
    words, where each list contains the word in uppercase and lowercase and the
    length of the word.)
    e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
    'lazy', 'dog'] (the list of words in list words containing 4 or more
    characters.)

In [34]:
# Creating the original word list
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
    'the', 'lazy', 'dog']
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [35]:
# To get list comprehension for a)
list_comp_1 = [char.upper() for char in words]
list_comp_1

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [36]:
# To get list comprehension for b)
list_comp_2 = [char.lower() for char in words]
list_comp_2

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [37]:
# To get list comprehension for c)
list_comp_3 = [len(char) for char in words]
list_comp_3

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [38]:
# To get list comprehension for d)
list_comp_4 = [[char.upper(),char.lower(),len(char)] for char in words]
list_comp_4

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [39]:
# To get list comprehension for e)
list_comp_5 = [char for char in words if len(char)>=4]
list_comp_5

['quick', 'brown', 'jumps', 'over', 'lazy']